<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">places</ion-title>
    </ion-toolbar>
  </ion-header>


   <ion-list>
  <ion-item  *ngFor=" let place of places" [routerLink]="['/home']">

       <ion-avatar  slot="start"> 
        <ion-img [src]="place.imageUrl"></ion-img>
       </ion-avatar>
        
       <ion-label>
        {{place.Title}}

       </ion-label>


         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam aliquid quisquam cumque. Facilis commodi nulla error assumenda. Veniam repudiandae architecto nam asperiores accusantium quis id iure illum dicta, temporibus dolorem!

  </ion-item>

   </ion-list>

</ion-content>
